.product-details {
  padding: 4rem 2rem;

  > main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    width: 100%;
    margin: auto;

    > section {
      &:first-of-type {
        width: 100%;
        height: 60vh;
        @media (min-width: 768px) {
          width: 40%;
        }
      }
      &:last-of-type {
        width: 100%;
        min-height: 80vh;
        padding: 2rem;
        @media (min-width: 768px) {
          width: 60%;
          padding: 4rem;
        }
        h1 {
          font-size: 2.5rem;
          margin: 1rem 0;
          @media (min-width: 768px) {
            font-size: 3.5rem;
          }
        }
        code {
          font-size: 1.2rem;
          background-color: rgb(5, 107, 224);
          color: white;
          border-radius: 10px;
          padding: 0.25rem 0.5rem;
          transition: background-color 0.3s ease;
          &:hover {
            background-color: darken(rgb(5, 107, 224), 10%);
          }
        }

        article {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
          margin: 2rem 0;
          > div {
            width: 100%;
            max-width: 9rem;
            @include flex(row, space-between);

            button {
              border: none;
              @include square(3rem);
              border-radius: 5px;
              @include flex;
              cursor: pointer;
              font-size: 1.2rem;
              transition: all 0.3s ease;
              &:hover {
                background-color: $color2;
                color: $color1;
                transform: scale(1.05);
              }
            }
          }
          > button {
            width: 100%;
            max-width: 9rem;
            background-color: $color3;
            padding: 1rem;
            border: none;
            cursor: pointer;
            color: $color1;
            @include flex;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 5px;
            transition: all 0.3s ease;
            &:hover {
              opacity: 0.8;
              transform: translateY(-2px);
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
          }
        }

        h3 {
          font-size: 1.8rem;
          margin: 1rem 0;
          color: black;
          @media (min-width: 768px) {
            font-size: 2rem;
          }
        }
        p {
          font-size: 1.1rem;
          margin: 1rem 0;
          font-weight: 300;
          letter-spacing: 2px;
          line-height: 150%;
          @media (min-width: 768px) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  > section {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    > article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      > h2 {
        @include heading;
      }

      > button {
        background-color: rgb(29, 29, 29);
        border: none;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        transition: all 0.3s ease;
        &:hover {
          background-color: lighten(rgb(29, 29, 29), 10%);
          transform: rotate(90deg);
        }
      }
    }
  }
}

.carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
  }
}

.review-dialog {
  width: 90%;
  max-width: 30rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  > button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    &:hover {
      background-color: lighten(rgb(29, 29, 29), 10%);
      transform: rotate(90deg);
    }
  }
  > h2 {
    @include heading;
  }
  > form {
    margin: 1rem 0;
    @include flex(column);
    > textarea {
      min-height: 25vh;
      padding: 1rem;
      border: 1px solid rgb(29, 29, 29);
      border-radius: 5px;
      font-size: 1.2rem;
      width: 100%;
      transition: border-color 0.3s ease;
      &:focus {
        outline: none;
        border-color: $color3;
      }
    }
    > button {
      width: 100%;
      background-color: rgb(29, 29, 29);
      color: white;
      border: none;
      cursor: pointer;
      padding: 1rem;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      &:hover {
        opacity: 0.8;
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.review {
  position: relative;
  width: 100%;
  max-width: 45rem;
  flex: none;
  background-color: rgb(34, 200, 159);
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(214, 214, 214, 0.1);
  }
  p {
    font-size: 1.1rem;

    font-weight: 300;
    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    small {
      color: black;
      font-weight: 600;
    }
  }

  > button {
    position: absolute;
    top: -1.25rem;
    right: -1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(29, 29, 29);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    &:hover {
      background-color: lighten(rgb(29, 29, 29), 10%);
      transform: rotate(90deg);
    }
  }
}
